<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Laboru Tech - Evaluación Profesional</title>

    <!-- Bootstrap Core CSS -->
    <link href='@Url.Content("~/css/bootstrap.min.css")' rel="stylesheet">

    <!-- Assesment CSS -->
    <link href='@Url.Content("~/css/assesment.css")' rel="stylesheet">

    @RenderSection("css", false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Evaluación Profesional</a>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        @RenderBody()

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Laboru Tech 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src='@Url.Content("~/js/jquery.js")' ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='@Url.Content("/js/bootstrap.min.js")' ></script>

    <script>

        function ajaxPost(controller, method, data, fx) {

            $.ajax({
                url: "/" + controller + "/" + method,
                dataType: "json",
                type: "POST",
                data: data,
                success: function (data) {
                    fx(true, data);
                },
                error: function (a, b, c) {
                    fx(false, a);
                }
            });
        }

        $(document).ready(function () {

            function init() {

                ajaxPost("Assesment", "GetData", {}, function (success, data) {

                    var myEvent = new CustomEvent("AssesmentDataRetrieved",
                        {
                            detail: {
                                success: success,
                                data: data
                            }
                        }
                    );
                    document.body.dispatchEvent(myEvent);

                    if (success) {

                        //Set Title and Logo
                        if (data && data.Company) {

                            var title = data.Evaluation.Name + " - " + data.Company.Name;

                            if (data.Company.Logo && data.Company.Logo.length > 0) {

                                title = data.Evaluation.Name;

                                $("#company_logo").attr("src", "/img/" + data.Company.Logo);
                                $("#company_logo").css("visibility", "visible");
                            }

                            $("#title").html(title);
                        } else {
                            $("#title").html("Lo sentimos, no encontramos tu prueba");
                        }

                    } else {
                        $("#title").html("Lo sentimos, se ha presentado en error");
                    }

                    
                });
            }

            init();
            
        });

    </script>

    @RenderSection("scripts", false)

    <script>

        //Listen for Assesment Data
        document.body.addEventListener("AssesmentDataRetrieved", handleAssementDataRetrieved, false);

    </script>

</body>

</html>
